[submodule "apps/qtcloud-connect"]
	path = apps/qtcloud-connect
	url = https://github.com/quanttide/qtcloud-connect.git
[submodule "data/report"]
	path = data/report
	url = https://github.com/quanttide/quanttide-report-of-communication.git
[submodule "docs/tutorial"]
	path = docs/tutorial
	url = https://github.com/quanttide/quanttide-tutorial-of-communication.git
[submodule "data/intention"]
	path = data/intention
	url = https://github.com/quanttide/quanttide-intention-of-communication.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-communication.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-communication.git
[submodule "data/insight"]
	path = data/insight
	url = https://github.com/quanttide/quanttide-insight-of-communication.git
